# settings folders
.idea/

# build folders
build/
out/

# application profile files
src/main/resources/application-*.properties
src/main/resources/application-*.yml
src/main/resources/application-*.yaml